:root{
/*Colores*/
    --main-bg: #0A435D;
    --main: #08354a;
    --secondary: #00BDFF;
    --contrast: #EA9A28;
    --light-green: #CBF279;
    --light-blue: #00A0F4;
    --red: #c10528;
    --white: #e5e5e5;
/*Fuentes*/
    --montserrat:'Montserrat', sans-serif;
    --della: 'Della Respira', serif;
    --hind: 'Hind', sans-serif;
    --proza: 'Proza Libre', sans-serif;

}

/*De la web*/
html {
    background-color: var(--main-bg);
    margin: 0 2em;

}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    font-family: var(--proza);
    font-size:large;
    color:var(--contrast);
    text-decoration:none;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;

}

a:hover {
    color: var(--light-green);;
    transition-duration: 0.5s;
    transform: translateY(-3px);
    transition: 0.2s;

}

nav {
    background-color: var(--main);
    border-radius: 20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 3em;
}

/*Clases*/

/* Nombre */
.webdev {
    width: 20%;
    margin: 1.5em 0 0 1em;
    text-align: center;
}

.name {
    font-family: var(--montserrat);
    color: var(--contrast);
    font-size: 2em;
}

.developer {
    color: var(--light-green);
    font-family: var(--della);
    font-size: 1.50em;
    display: block;
}

/* Redes */

.social {
    display: flex; 
    justify-content: flex-end;
    margin: 0 2em 0.5em 0;
}

.social-img
{
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5em 0.5em 0;
    width: 2.4%;
    border-radius: 100%;
}

.social-img:hover{
    background-color: var(--light-green);
    transition-duration: 0.6s;
}

/* Introducción */
.avatar {
    width: 40%;
    height: 40%;
    margin: 0 1em;
    border-radius: 100%;
}

.description {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2em;
    height: 50vh;
    position: relative;
}

.description::before {
    background-image: url(../img/wave_background.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 20px;
    opacity: 0.25;
}

.description > div {
    display: flex;
    width: 50%;
    position: relative;
    justify-content:center;
    align-items: center;
}

.description > div > span {
    color: var(--white);
    font-size: medium;
    font-family: var(--della);
    height: 40%;
}

#little_description {
    display: none;
}

.workingOn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: var(--white);
    font-size: 4em;
}

.workingOn img{
    width:50%;
    border-radius:20px;
}

.back{
    margin: 2em;
    display: flex;
    justify-content: center;
}

.back__button{
    display: none;
    font-family: var(--montserrat);
    text-transform: uppercase;
    cursor: pointer;
}
/*Declaración de Breakpoint para pantallas medianas*/
@media screen and (max-width: 1200px) {

.webdev {
    width: 30%;
}

.social-img
{
    width: 3.2%;
}

.avatar {
    width: 45%;
    height: 45%;
}

.description > div > span {
    font-size: small;
}

.description > div {
    width: 60%;
}

.workingOn img{
    width:60%;
}

}
/* Fin de Breakpoint para pantallas medianas*/

/*Declaración de Breakpoint para pantallas pequeñas*/
@media screen and (max-width: 992px) {

.webdev {
    width: 40%;
}

.name {
    font-size: 2.1em;
}
    
.developer {
    font-size: 1.7em;
}

.description > div {
    width: 70%;
}
    
.social-img
{
    width: 4%;
}

.workingOn {
    font-size: 3.3em;
}
}
/* Fin de Breakpoint para pantallas pequeñas*/

/*Declaración de Breakpoint para pantallas de tablet*/
@media screen and (max-width: 700px) {

nav {
    display: none;
}

.webdev {
    display: none;
}

.description > div {
    display: grid;
    text-align: center;
}

.avatar {
    width: 85%;
    height: 90%;
    justify-self: center;
}

.animated_avatar{
    transition: opacity 2000ms;
    opacity: 0;
}

#little_description{
    display: block;
    font-size: medium;
    margin-bottom: 1.3em;
}

#more_about{
    display: none;
    align-items: center;
}
    
.social{
    margin-top: 1.5em;
}

.social-img
{
    width: 7%;
}
    
.workingOn {
    display: none;
}
}
    /* Fin de Breakpoint para pantallas de tablet*/

/*Declaraciones de Breakpoints para pantallas más pequeñas*/

@media screen and (max-width: 600px) {
    .social-img{
        width: 11%;
    }
}

@media screen and (max-width: 400px) {

.social{
    justify-content: center;
    margin: 2em 0;
}

.social-img{
    width: 18%;
}
}

    /* Fin de Breakpoint para pantallas más pequeñas*/


